apiVersion: v1
kind: Service
metadata:
  name: crossplane-metrics-exporter
  labels:
    app.kubernetes.io/name: crossplane-metrics-exporter
    app.kubernetes.io/component: exporter
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: crossplane-metrics-exporter
  ports:
    - name: metrics
      port: 8080
      targetPort: metrics
      protocol: TCP
