{% extends "base.html" %}

{% block outdated %}
  You're viewing documentation for <strong>{{ config.extra.version.default }}</strong>.
  <a href="{{ '../' ~ config.extra.version.default ~ '/' }}">
    <strong>Switch to the latest version</strong>
  </a>
{% endblock %}

{% block announce %}
  <a href="https://github.com/kanzifucius/xp-tracker/releases/latest">
    <span class="twemoji">
      {% include ".icons/material/new-box.svg" %}
    </span>
    <strong>xp-tracker</strong> is now available! Check out the latest release.
  </a>
{% endblock %}
