apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: crossplane-metrics-exporter
  labels:
    app.kubernetes.io/name: crossplane-metrics-exporter
    app.kubernetes.io/component: exporter
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: crossplane-metrics-exporter
  endpoints:
    - port: metrics
      interval: 30s
      path: /metrics
